{{#if UserID}}
    <li class="nav-item active"><a href="/userinfo" class="nav-link">{{UserID}}</a></li>
    <li class="nav-item"><a href="/api/logout" class="nav-link">Sign Out</a></li>
{{else}}
    <li class="nav-item active"><a href="/api/login" class="nav-link">Sign In</a></li>
    <li class="nav-item"><a href="/create" class="nav-link">Sign Up</a></li>
{{/if}}