<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<h1>Welcome to the COVID-19 Quiz!</h1>

<div id="formDiv">
<form method="post" id="quiz-form">
    <h2>Have you experienced any of these symptoms?</h2>
        <li>Chills</li>
        <li>Runny Nose</li>
        <li>Headache</li>
        <li>Body aches</li>
        <li>Nausea/Vomiting</li>
        <li>Cough</li>
        <li>Diarrhea</li>
        <li>Loss of teste or smell</li>
        <li>Fatigue</li>
        <li>Difficulty Breathing</li>
        <li>Fever</li>
        <li>Sore Throat</li>
        <div>
            <input type="radio" name="q1" id="q1A" value="A" />
            <label for="q1">Yes</label>
        </div>
        
        <div>
            <input type="radio" name="q1" id="q1B" value="B" />
            <label for="q1">No</label>
        </div>

    <h2>Do any of the following medical conditions apply to you?</h2>
        <li>Asthma</li>
        <li>Lung Disease</li>
        <li>Cirrhosis of the liver</li>
        <li>Any disease that compromises your immune system</li>
        <li>Diabetes</li>
        <li>Diseases that make it hard to cough</li>
        <li>Obesity</li>
        <li>Hypertension/High Blood Pressure</li>
        <li>Kidney Failure</li>
        <li>Serious heart condition</li>
        <div>
            <input type="radio" name="q2" id="q2A" value="A" />
            <label for="q2">Yes</label>
        </div>
        
        <div>
            <input type="radio" name="q2" id="q2B" value="B" />
            <label for="q2">No</label>
        </div>

    <h2>Have you recently come into contact with someone that tested positive for COVID?</h2>
        <div>
            <input type="radio" name="q3" id="q3A" value="A" />
            <label for="q3">Yes </label>
        </div>
        
        <div>
            <input type="radio" name="q3" id="q3B" value="B" />
            <label for="q3">No</label>
        </div>
        <div id="errorDiv"></div>
        <button type="submit">Submit Quiz</button>
</form>
</div>

<div id="results"></div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/quizAJAX.js"></script>