<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<h1 class="quiz-header">Welcome to the COVID-19 Quiz!</h1>

<div id="formDiv">
<form method="post" id="quiz-form">
    <div class="col-auto">
    <h2>Have you experienced any of these symptoms?</h2>
        <li>Chills</li>
        <li>Runny Nose</li>
        <li>Headache</li>
        <li>Body aches</li>
        <li>Nausea/Vomiting</li>
        <li>Cough</li>
        <li>Diarrhea</li>
        <li>Loss of teste or smell</li>
        <li>Fatigue</li>
        <li>Difficulty Breathing</li>
        <li>Fever</li>
        <li>Sore Throat</li>
        <div class="form-check">
            <input type="radio" name="q1" id="q1A" value="A" class="form-check-input" />
            <label for="q1A" class="form-check-label">Yes</label>
        </div>
        
        <div class="form-check">
            <input type="radio" name="q1" id="q1B" value="B" class="form-check-input"/>
            <label for="q1B" class="form-check-label">No</label>
        </div>
    </div>
    <div class="col-auto">
    <h2>Do any of the following medical conditions apply to you?</h2>
        <li>Asthma</li>
        <li>Lung Disease</li>
        <li>Cirrhosis of the liver</li>
        <li>Any disease that compromises your immune system</li>
        <li>Diabetes</li>
        <li>Diseases that make it hard to cough</li>
        <li>Obesity</li>
        <li>Hypertension/High Blood Pressure</li>
        <li>Kidney Failure</li>
        <li>Serious heart condition</li>
        <div class="form-check">
            <input type="radio" name="q2" id="q2A" value="A" class="form-check-input"/>
            <label for="q2A" class="form-check-label">Yes</label>
        </div>
        
        <div class="form-check">
            <input type="radio" name="q2" id="q2B" value="B" class="form-check-input"/>
            <label for="q2B" class="form-check-label">No</label>
        </div>
    </div>
    <div class="col-auto">
    <h2>Have you recently come into contact with someone that tested positive for COVID?</h2>
        <div class="form-check">
            <input type="radio" name="q3" id="q3A" value="A" class="form-check-input"/>
            <label for="q3A" class="form-check-label">Yes </label>
        </div>
        
        <div class="form-check">
            <input type="radio" name="q3" id="q3B" value="B" class="form-check-input"/>
            <label for="q3B" class="form-check-label">No</label>
        </div>
    </div>
    <div class="col-auto">
        <div id="errorDiv"></div>
        <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </div>
</form>
</div>

<div id="results"></div>

<div class="home-button-div">
    <a  href="/"><button class="btn btn-secondary">Home Page</button></a>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/quizAJAX.js"></script>