.error-userinfo{
	color: #ee0000;
	font-weight:bold;
}
.bold-userinfo{
	font-weight:bold;
}


.error-signUp {
	color: #ee0000;
	font-weight:bold;
}

#login-errors {
	color: #ee0000;
	text-align: center;
}

.login-header, .signUp-header {
	text-align: center;
	font-weight: bold;
}

.login-container, .signUp-container {
	margin: 30px auto;
	width: 50%;
	padding: 20px;
	border: 2px solid;
	border-color: blue;
	border-radius: 4px;
	box-shadow: 4px 8px 10px 5px;
}

.home-button-div {
	margin: auto;
	width: 100px;
}

.create-button-div, .login-button-div {
	margin: auto;
	width: 50%;
}

#userinfo_page {
  background-color: lightblue;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}


.userinfo_title {
	text-align: center;
}

.welcome {
	font-weight: bold;
	font-style:italic;
	font-size:20pt;
	font-family: "Times New Roman", Times, serif;

}



.past_loc {
	font-weight: bold;
	font-size:16pt;
	font-family: "Times New Roman", Times, serif;
}

