<head>

<link rel="stylesheet" href="/public/css/styles.css">
</head>

<body id="userinfo_page">



<h1> Hoboken COVID HotSpot Tracker </h1>

<ul class="topnav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/quiz">Quiz</a></li>
  <li><a href="/api/logout">LogOut</a></li>
</ul>


<p class='welcome'> Welcome {{username}} </p>



<form action = '/userinfo/covidstatus' id="covid_status_form" method="POST">

    <p>Have You Tested Positive for Covid in the past two weeks?</p>
    <input type="radio" id="covid_report" name="covid_report"  value="Yes">
    <label for="covid_yes">Yes</label><br>

    <input type="radio" id="covid_report" name="covid_report"  value="No">
    <label for="covid_no">No</label><br>

    <p> Only If You Test Positive, Report the day you tested Positive.</p>
    <input type="date" name="report_date" id="report_date" placeholder="Enter The Date">
  
    <button type="submit"> Submit</button>

    
</form>

<div id="covid_report_result">
      <p>{{covid_status_result}}</p>
</div>



<p class='past_loc'> Your Past Locations Are Here : </p>


<div id="userloc">
	<ol id='user_locations'>
	    {{#each this.locations}}
            <li>{{this.DateVisited }} : {{this.Address}} </li> 
            {{>location_info }} 
        {{/each}}
    
	</ol>	
</div>



<div id="location-errors">
</div>

<form action = '/userinfo' id="location-form" method="POST">
    <label for="street-address" class="bold-text"> Street Address: </label>
    <input type="text" name="street-address" id="street-address" placeholder="Enter The Street Address">

    <label for="date" class="bold-text"> Date Visited: </label>
    <input type="date" name="date" id="date" placeholder="Enter The Date">

    <button type="submit"> Add COVID Location</button>

    
</form>




<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
<script src="/public/js/ajax_locations.js"></script>



</body>